* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/background.png");
}
/*HEADER*/
.header {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.75);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after,.menu:after,.submenu li:after {
    content: "";
    display: block;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-1 {
    width: 8.33333%;
}
.col-md-3 {
    width: 25%;
}
.col-md-4 {
    width: 33.33333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-8 {
    width: 66.66667%;
}
.col-md-9 {
    width: 75%;
}
.col-md-12 {
    width: 100%;
}
.logo {
    margin-top: 8px;
}
.menu li {
    left: 1px;
    position: relative;
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    text-decoration: none;
    display: block;
    height: 50;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
}
.a-products {
    padding-left: 15px;
}

.submenu {
    position: absolute;
    height: 315px;
    padding-top: 15px;
    margin-left: -1px;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
}
.submenu li {
    width: 286px;
    float: left;
    border: none;
}
.submenu a {
    text-decoration: none;
    display: block;
    height: 40;
    text-align: left;
    line-height: 40px;
    color: white;
    font-size: 20px;
    padding-left: 27px;
    padding-right: 27px;
}
.menu a:hover {
    color: white;
    background-color: #2c71b8;
}
.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}
.menu li:hover .submenu {
    background-color: #2c71b8;
}
.submenu a:hover {
    background-color: white;
    color: #2c71b8;
}
li:hover .a-products {
    background-color: #2c71b8;
    color: white;
}

.form {margin-top: 5px;}
.search {
    width: 200px;
    height: 40px;
    border: 1px solid #2b71b9;
    color: #2b71b9;
    background: none;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
}
.search:focus {outline: none;}
.search::-webkit-input-placeholder { color: #2b71b9; }
.button-search {
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: -35px;
    margin-top: 5px;
    background-color: #2b71b9;
    border: none;
}
.button-search:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 15px;
}
button {outline: none;}
.card {
    margin-top: 5px;
    position: relative;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background-color: #ffffff;
}
.card:before {
    position: absolute;
    padding: 10px;
    content: "\f07a";
    font-family: FontAwesome;
    color: #2b71b9;
}
.product-count {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    background-color: #2b71b9;
    border-radius: 100%;
}
.number {
    position: absolute;
    color: white;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 3px;
}
.fa-fa-angle-down:before {
    content: "\f107";
    font-family: FontAwesome;
    font-weight: normal;
    color:  #2b71b9;
}
.fa {
    vertical-align: middle;
    margin-left: 7px;
}
/*FILTER*/
.filter {
    background-color: rgb(89, 143, 199, 0.5);
    border-right: 1px solid white;
}
.filter-title {
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.device-type, .color, .ram {
    padding-left: 30px;
}
input[type ="checkbox"] {
    display: none;
}
label:before {
    position: relative;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 20px;
}
input[type="checkbox"]:checked + label:before {
    background-color: white;
}
.options {
    position: absolute;
    color: white;
    font-size: 18px;
    margin-left: 25px;
    margin-top: -14px;
}
.more-options {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
.filter-button {
    margin: 30px;
    padding-bottom: 30px;
}
.filter-submit {
    width: 210px;
    height: 50px;
    border: 1px solid white;
    color: white;
    background-color:  rgb(35, 90, 149, 0.6);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.filter-submit:hover{background-color: #598fc7; cursor: pointer;}
/*MAIN*/
.breadcrumbs {margin-top: 30px;}
.breadcrumbs a {
    font-size: 15px;
    text-decoration: none;
    color: #6c9ccd;
}

.laptops-tablets {color: #6c9ccd;}

.breadcrumbs a:hover {
    text-decoration: underline;
}
.page-title {
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.products {
    margin-top: 30px;
}
.products-body {
    width: 270px;
    border: 1px solid white;
    background-color: rgb(35, 90, 149, 0.6);
}
.product-img {
    position: relative;
    height: 180px;
    width: 270px;
    background-color:  rgba(255, 255, 255, 0.6);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.images {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.like-view {
    position: absolute;
    right: 10px;
}
.view {padding-top: 3px;}
.like {padding-top: 5px;}
.view, .like {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    text-align: center;
    margin-top: 10px;
}
.like:hover,.liked {
    background-color: #2c71b8;
    cursor: pointer;
}
.like:hover:hover .fa-heard-o:before {
    color: white;
}
.view:hover {
    background-color: #2c71b8;
    cursor: pointer;
}
.fa-heard-o:before {
    content: "\f08a";
    font-family: FontAwesome;
    font-size: 20px;
    color:  #2b71b9;
}
.like:hover,.liked .fa-heard-o:before {
    color: white;
}

.far-fa-expand:hover:before {
    color: white;
}
.far-fa-expand:before {
    content: "\f065";
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    font-size: 22px;
    color:  #2b71b9;
}
.device-name {
    color: white;
    font-size: 28px;
    font-weight: 700;
    padding: 15px;
}
.description {
    color: white;
    font-size: 21px;
    font-weight: 100;
    margin-top: 20px;
}
.char- {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
}
.type {
    color: white;
    font-size: 21px;
    font-weight: 100;
}
.price {
    color: white;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
.top-price {
    color: white;
    font-size: 27px;
    font-weight: 600;
    margin-left: 5px;
    vertical-align: top;
}
.buttons {
    margin: 25px 0 30px 30px;
}
.more-det {
    width: 210px;
    height: 50px;
    border: 1px solid white;
    color: white;
    background-color:  rgb(35, 90, 149, 0.6);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.add-cart {
    position: relative;
    width: 210px;
    height: 50px;
    border: 1px solid white;
    color: white;
    background-color:  rgb(35, 90, 149, 0.6);
    /*background-color: rgba(255, 255, 255, 0.3);*/
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 20px;
}
.add-cart:hover{background-color: #598fc7; cursor: pointer;}
.more-det:hover{background-color: #598fc7; cursor: pointer;}
.logo-cart:before {
    position: absolute;
    content: "\f07a";
    font-family: FontAwesome;
    color: white;
    font-size: 20px;
    margin-top: -22px;
    margin-left: 150px;
}
/*FOOTER*/
.load-more {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 80px;

}
.footer {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.75);
}
.footer-container {
    width: 1200px;
}
/*modal*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
.modal-block {
    width: 300px;
    margin: 80px auto;
    height: 200px;
    border: 1px solid gray;
    background-color: white;
    padding: 15px;
}
.form-fields {
    margin: 10px 0;
}
.form-field input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid gray;
}
.btn-close {
    text-align: right;
}
.modal-block button {
    border: 1px solid gray;
    padding: 5px;
}
.hide {
    display: none;
}
.show {
    display: block;
}
/*Change product-count*/
.product-quantity, .product-quantity input {
    margin-top: 10px;
    text-align: center;
}
.product-quantity button {
    padding: 3px 8px;
}

/*Slider block*/
.slider-block > div {
    /*margin: 150px 50px;*/
    padding: 135px 50px;
    text-align: center;
    color: white;
    font-size: 100px;
    font-weight: solid;
    z-index: 0;
}
.slick-dots li button:before {
    font-size: 0px;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    margin-top: -20px;
}
.slick-dots li.slick-active button:before {
    background-color: #ffffff;
}
/*.slick-prev:before, .slick-next:before {
    color: white;
}*/
.slick-arrow:before {
    position: absolute;
    font-size: 0;
    /*top: 50%;*/
    
}
.slick-prev:before {
    left: 0;
    background: url(images/arrowleft.png) 0 0 / 100% no-repeat;
    height: 60px;
    width: 30px;
    margin:-30px 20px;
    /*z-index: 10;*/
    
}
.slick-next:before {
    right: 0;
    background: url(images/arrowright.png) 0 0 / 100% no-repeat;
    height: 60px;
    width: 30px;
    margin:-30px 20px;
    /*z-index: 11;*/
}
.slider-bg {
    border-bottom: 1px solid white;
    background-color: rgba(35, 90, 147, 0.3);
}