* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/background.png");
}

.header {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.75);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after,.menu:after,.submenu li:after {
    content: "";
    display: block;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}
.col-md-9 {
    width: 75%;
}
.logo {
    margin-top: 8px;
}

.menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    text-decoration: none;
    display: block;
    height: 50;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
}
.a-products {
    padding-left: 15px;
}
.menu a:hover {
    color: white;
    background-color: #2c71b8;
}
.submenu {
    position: absolute;
    height: 315px;
    padding-top: 15px;
    margin-left: -1px;
}
.submenu li {
    width: 286px;
    float: left;
    visibility: hidden;
    opacity: 0;
}
.submenu a {
    text-decoration: none;
    display: block;
    height: 40;
    text-align: left;
    line-height: 40px;
    color: white;
    font-size: 20px;
    padding-left: 27px;
    padding-right: 27px;
}
.menu li:hover .submenu li {
    visibility: visible;
    opacity: 1;
}
.menu li:hover .submenu {
    background-color: #2c71b8;
}
.submenu a:hover {
    background-color: white;
    color: #2c71b8;
}
li:hover .a-products {
    background-color: #2c71b8;
    color: white;
}

.form {margin-top: 5px;}
.search {
    width: 200px;
    height: 40px;
    border: 1px solid #2b71b9;
    color: #2b71b9;
    background: none;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
}
.search:focus {outline: none;}
.search::-webkit-input-placeholder { color: #2b71b9; }
.button-search {
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: -35px;
    margin-top: 5px;
    background-color: #2b71b9;
    border: none;
}
.button-search:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 15px;
}
.button-search:focus {outline: none;}
.card {
    margin-top: 5px;
    position: relative;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background-color: #ffffff;
}
.card:before {
    position: absolute;
    padding: 10px;
    content: "\f07a";
    font-family: FontAwesome;
    color: #2b71b9;
}
.product-count {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    background-color: #2b71b9;
    border-radius: 100%;
}
.number {
    position: absolute;
    color: white;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 3px;
}
.fa-fa-angle-down:before {
    content: "\f107";
    font-family: FontAwesome;
    color:  #2b71b9;
}
.fa {
    vertical-align: middle;
    margin-left: 7px;
}
.main-container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.slider {
    height: 400px;
    background-color: rgb(35, 90, 149, 0.6);
    border-bottom: 1px solid white;
}
.filter {
    height: 843px;
    background-color: rgba(255, 255, 255, 0.3);
}
.page-title {
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-top: 65px;
}
[class*="dev-"] {
    /*float: left;*/
    width: 270px;
    margin-top: 180px;
    border: 1px solid white;
    background-color: rgb(35, 90, 149, 0.6);
}
.device-container {
    float: left;
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
}
.products-container {
    width: 1000px;
    margin-top: 20px;
    margin-left: -30px;
}
[class*="image-"] {
    position: absolute;
    height: 180px;
    width: 270px;
    background-color:  rgba(255, 255, 255, 0.6);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.device-name {
    color: white;
    font-size: 28px;
    font-weight: 700;
    padding: 15px;
}
.description {
    color: white;
    font-size: 21px;
    font-weight: 100;
    margin-top: 20px;
}
h3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
}
span {
    color: white;
    font-size: 21px;
    font-weight: 100;
}
.price {
    color: white;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
sup {
    color: white;
    font-size: 27px;
    font-weight: 600;
    margin-left: 5px;
    vertical-align: top;

}

.more-det {
    width: 210px;
    height: 50px;
    border: 1px solid white;
    color: white;
    background-color:  rgb(35, 90, 149, 0.6);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    margin-top: 22px;
    margin-left: 30px;

}
.add-cart {
    position: relative;
    width: 210px;
    height: 50px;
    border: 1px solid white;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 30px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.logo-cart:before {
    position: absolute;
    content: "\f07a";
    font-family: FontAwesome;
    color: white;
    font-size: 20px;
    margin-top: -20px;
    margin-left: 140px;
}
/*.logo-cart {
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url("images/card.png");
    background-color: white;
}*/